/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.12.2016, 1:31:08
    Author     : ridkeim
*/
body{
    width: 100%;
    margin: 0px;
}
#content{
    position: relative;
    width: 980px;
    margin: 0px auto;
    text-align: center;
}
#form{
    text-align: left;
    margin: 40px auto;
    width: 463px;
}

#form span{
    color: red;
}
input[type="text"]{
    width: 400px;
    padding: 2px 0px;
    border: solid 1px;
}
input[type="text"]:focus {
  background-color: #eeeeee;
}
#button{
    text-align: center;
}
input[type="submit"]{
    padding: 8px 80px;
    border: 3px solid black;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.95);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.95);
        
}

input[type="submit"]:hover{
    background-color: #eeeeee;
    margin: 0px auto;
}

#result{
    margin: 40px 60px;
    position: relative;
}
table{
    border: 3px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #ffffff
}
th {
    padding: 0 50px;
}
td, th {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid black;
}
.grey_row{
    background-color: #eeeeee;
}
.grey_row:hover{
    background-color: #e5e5e5;
}
.white_row{
    background-color: #ffffff;
}
.white_row:hover{
    background-color: #f5f5f5;
}
